<link href="../../Content/nestable-jquery.css" rel="stylesheet" />

<div class="dd">
    <ol class="dd-list">
        <li class="dd-item" data-id="1" data-tipo="menu">
            <div class="dd-handle">Item 1</div>
        </li>
        <li class="dd-item" data-id="2" data-tipo="menu">
            <div class="dd-handle">Item 2</div>
        </li>
        <li class="dd-item" data-id="3">
            <div class="dd-handle">Item 3</div>
            <ol class="dd-list">
                <li class="dd-item" data-id="4" data-tipo="pagina">
                    <div class="dd-handle">Item 4</div>
                </li>
                <li class="dd-item" data-id="5" data-tipo="pagina">
                    <div class="dd-handle">Item 5</div>
                </li>
            </ol>
        </li>
    </ol>
</div>


<script src="../../Scripts/jquery-1.10.2.min.js"></script>
<script src="../../Scripts/bootstrap.min.js"></script>
<script src="../../Scripts/jquery.nestable.js"></script>

<script>

</script>