
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index2</h2>

<a href="#" id="example" class="btn btn-primary" rel="popover" data-content="This is the body of Popover" data-original-title="Creativity Tuts">pop</a>

