################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ProIntegracao.UI/Scripts/jquery-2.2.3.intellisense.js
