@model ProIntegracao.UI.ViewModel.MenuViewModel

@using (Html.BeginForm("Create", "Menu", FormMethod.Post, new { @class = "form-horizontal", @id = "formMenu" }))
{
    <div class="form-horizontal">
        <div class="row">
            <div class="col-lg-12">
                @{Html.RenderPartial("~/Views/Menu/_form.cshtml", Model);}
            </div>
        </div>
    </div>
}

