html,body{height:100%;font-size:12px}
.body-content{padding-left:15px;padding-right:15px}
.dl-horizontal dt{white-space:normal}
.uppercase{text-transform:uppercase}
.width950{width:950px!important}
.width850{width:850px!important}
.width750{width:750px!important}
.width500{width:500px!important}
.width400{width:400px!important}
.width250{width:250px!important}
.width200{width:200px!important}
.width150{width:150px!important}
.width100{width:100px!important}
btn_Padrao{color:#000;background-color:#ff6a00;border:#ff6a00}
table{width:100%!important}
thead th{white-space:nowrap!important;background-color:#eea236!important}
th a,a:hover,a:focus{xcolor:#fff!important}
.icon-input-btn{display:inline-block;position:relative}
.icon-input-btn input[type="submit"]{padding-left:2em}
.icon-input-btn .glyphicon{display:inline-block;position:absolute;left:.65em;top:30%}
.navbar-nav{margin:10px!important}
.form-bottom{padding:25px 25px 30px;background:#eee;-moz-border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;text-align:left}
.form-box{margin-top:35px}
.form-top{overflow:hidden;padding:0 25px 15px;background:#fff;-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;text-align:left}
.form-top-left{float:left;width:75%;padding-top:25px}
.form-top-left h3{margin-top:0}
.form-top-right{float:left;width:25%;padding-top:5px;font-size:66px;color:#ddd;line-height:100px;text-align:right}
.form-bottom{padding:25px 25px 30px;background:#eee;-moz-border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;text-align:left}
.form-bottom form textarea{height:100px}
.form-bottom form button.btn{width:100%}
.form-bottom form .input-error{border-color:#4aaf51}
.modal-header{background-color:#337ab7!important;color:#fff!important}
#wrap{min-height:100%;height:auto!important;height:100%;margin:0 auto -60px}
#push,#footer{height:60px}
#footer{background-color:#f5f5f5}
.container{width:auto;max-width:1280px}
.container .credit{margin:20px 0}
div.dt-buttons{float:right!important}
.ui-autocomplete{position:absolute;z-index:1000;cursor:default;padding:0;margin-top:2px;list-style:none;background-color:#fff;border:1px solid #ccc -webkit-border-radius: 5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);box-shadow:0 5px 10px rgba(0,0,0,0.2)}
.ui-autocomplete > li{padding:3px 20px}
.ui-autocomplete > li.ui-state-focus{background-color:#DDD}
.ui-helper-hidden-accessible{display:none}
.ui-autocomplete-input,.ui-menu,.ui-menu-item{z-index:2006}
.has-error .help-block-modal{color:#a94442;font-weight:700;margin-left:15px;font-size:14px}
.spacebutton{margin-bottom:15px}

.modal.modal-wide .modal-dialog {width: 90%;}
.modal-wide .modal-body {overflow-y: auto;}
#myModalFont .modal-body p { margin-bottom: 900px }
