.table {font-size: 11px !important;}
.well .form-group .form-control {font-size:11px !important;}
.modal.modal-wide .modal-dialog {width: 90%;}
.modal-wide .modal-body {overflow-y: auto;}
#myModalFont .modal-body p { margin-bottom: 900px }