<div>
    <h2>Esqueci Minha Senha</h2>
    
    <p>Olá</p>
    
    <p>Houve uma solicitação recente para alterar a senha de sua conta.</p>

    <p>Se você solicitou esta alteração de senha, clique no link abaixo para gravar uma nova senha:<a href="$link">$link</a>

    <p>Se o link não funcionar, copie e cole a URL no seu navegador.</p>
    
    <p>Se você não fez essa solicitação, você pode ignorar esta mensagem e a sua senha permanecerá a mesma.</p>

    <p>Atenciosamente,</p>
    <br/><br />

    <p>Equipe PROINTEGRAÇÃO</p>
</div>