@model IEnumerable<ProIntegracao.Data.Entidade.Pagina>
@section style{
  <link href="~/Content/home.css" rel="stylesheet" />  
}



<div class="col-lg-12 text-center">

    @{ var count = 1;}

    @{
        var main = "mainMenu";
    }


    <div id="@main">
        <ul>
            <li>
                @foreach (var item in Model)
                {
                    var classe = "big-cubes";
                    var ico = "fa fa-th";
                    var color = " bg-color-blue";

                    if (!string.IsNullOrEmpty(item.Icone))
                    {
                        ico = item.Icone;
                    }

                    if (ico.Contains("arrow"))
                    {
                        color = " bg-color-purple";
                    }

                    classe += color;

                    var url = item.Url;



                    if (count == 1)
                    {
                        @:<div>
                        }

                    @:<a href="@url" class="jarvismetro-tile @classe"> <span class="iconbox"> <i class="@ico fa-4x"></i> <span>@item.Nome</span> </span> </a>




                    if (count < 5)
                    {
                        count++;
                    }
                    else {
                        @:</div>
                        
                        count = 1;
                    }
                }
            </li>
        </ul>
    </div>
</div>



