<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
     -->

    <appSettings>
      <add key="URI" value="http://prointegracao.prosimulador.com.br/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
      <add key="EmailCredentials" value="contato@prosimulador.com.br" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    </appSettings>
  
    <connectionStrings>

      <!-- ProIntegração - Homologação com DNS -->
      <add name="ProIntegracao"
            connectionString="1rEtpHjVwAOjxwYq5hPfWenpylzMrN7C+reIWIFa84bTGMMHNrK1LPOmXKWTi90OwhPWkHNA90vsd/zSYtYfXF28mUqH960gRs7N7dat3KmjSAz8FrYmr+t7EW/hKeM9b+mhA9PfnAI="
            xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
            providerName="System.Data.SqlClient"/>   
      
      
    <!--<add name="ProIntegracao" 
         connectionString="1rEtpHjVwAOjxwYq5hPfWenpylzMrN7CcxAWd+C9rSiCXcoU0qQYzXgY9AsM80iMLHytOk13N4FUPCCDrglQogPZkMiSzbiZCs82Vmj9TDZv1WP/Y05BgGwnAcZzJEtzj2I6E5DgLIBgrW95IQsJgQ=="
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
         providerName="System.Data.SqlClient"/>-->

      <!-- PROSIMULADOR - Homologação com DNS -->
      <add name="ProSimulador"
          connectionString="1rEtpHjVwAOjxwYq5hPfWenpylzMrN7C+reIWIFa84bTGMMHNrK1LD90gw28a1ween9KIKtBMD/54Wr2PHYpvV5tIf+3mxzTDSpQJ0U8CfLgFxJJKNtIqN9A77ZdvZOKLzAIeKwmqeo="
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
          providerName="System.Data.SqlClient"/>
  
    </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
